<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Subject Names</th>
            <th scope="col">Assignments</th>
            <th scope="col">Exams</th>
            <th scope="col">Grades</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>HTML</td>
            <td>Assignment1</td>
            <td>Quiz1</td>
            <td>A+</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>CSS</td>
            <td>Assignment2</td>
            <td>Quiz2</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Python-Django</td>
            <td>Assignment3</td>
            <td>Quiz3</td>
          </tr>
        </tbody>
      </table>
      
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

</body>
</html>