{% extends "base.html" %}
{% block body %}
  
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <br>
    <table class="table">
        <thead class="thead-dark fs-4">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Subject Names</th>
            <th scope="col">Assignments</th>
            <th scope="col">Exams</th>
            <th scope="col">Grades</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>            
            <td>        
              <form action="" method = "post">
                <a class = "btn btn-success me-1" href="">Add Subject1
                  <i class="fa-solid fa-book-medical"></i>
                </a>
              <!-- <form action="" method = "post"> -->
                <a class = "btn btn-warning me=1" href="">Edit Subject1
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
            <td>        
              <form action="" method = "post">
                <a class = "btn btn-success me-1" href="">Add Assignment1
                  <i class="fa-solid fa-book-medical"></i>
                </a>
              <!-- <form action="" method = "post"> -->
                <a class = "btn btn-warning me=1" href="">Edit Assignment1
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
            <td><form action="" method = "post">
              <a class = "btn btn-success me-1" href="">Add Quiz1
                <i class="fa-solid fa-book-medical"></i>
              </a>
            </td>            
            <td><form action="" method = "post">
              <a class = "btn btn-success me-1" href="">Add Grade1
                <i class="fa-solid fa-book-medical"></i>
              </a>
            </td> 
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>        
              <form action="" method = "post">
                <a class = "btn btn-success me-1" href="">Add Subject2
                  <i class="fa-solid fa-book-medical"></i>
                </a>
                 <!-- <form action="" method = "post"> -->
                <a class = "btn btn-warning me=1" href="">Edit Subject2
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
            <td>        
              <form action="" method = "post">
                <a class = "btn btn-success me-1" href="">Add Assignment2
                  <i class="fa-solid fa-book-medical"></i>
                </a>
              <!-- <form action="" method = "post"> -->
                <a class = "btn btn-warning me=1" href="">Edit Assignment2
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
            <td><form action="" method = "post">
              <a class = "btn btn-success me-1" href="">Add Quiz2
                <i class="fa-solid fa-book-medical"></i>
              </a>
            </td> 
            <td><form action="" method = "post">
              <a class = "btn btn-success me-1" href="">Add Grade2
                <i class="fa-solid fa-book-medical"></i>
              </a>
            </td> 
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>        
              <form action="" method = "post">
                <a class = "btn btn-success me-1" href="">Add Subject3
                  <i class="fa-solid fa-book-medical"></i>
                </a>
                <!-- <form action="" method = "post"> -->
                <a class = "btn btn-warning me=1" href="">Edit Subject3
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>           
            <td>        
              <form action="" method = "post">
                <a class = "btn btn-success me-1" href="">Add Assignment3
                  <i class="fa-solid fa-book-medical"></i>
                </a>
              <!-- <form action="" method = "post"> -->
                <a class = "btn btn-warning me=1" href="">Edit Assignment3
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
            <td><form action="" method = "post">
              <a class = "btn btn-success me-1" href="">Add Quiz3
                <i class="fa-solid fa-book-medical"></i>
              </a>
            </td> 
            <td><form action="" method = "post">
              <a class = "btn btn-success me-1" href="">Add Grade3
                <i class="fa-solid fa-book-medical"></i>
              </a>
            </td> 
          </tr>
        </tbody>
      </table>    
      
</body>
</html>

{% endblock %}